<a href="https://colab.research.google.com/github/eche-ray/Data-analysis-Projects-Python-/blob/main/Price_Trend_analysis_project_Cleaned_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel('/content/Nigeria_Agricultural_Price_Data_Mini.xlsx')

In [6]:
pd.set_option('display.max_columns',None)

In [8]:
df.head(10)

,Date,Year,Month,Product,Region,Market_Type,Price,Unit,Currency
0,2024-01-01,2024,January,Cassava,South West,Urban,202.12,kg,NGN
1,2024-01-01,2024,January,Cassava,North Central,Rural,219.26,kg,NGN
2,2024-01-01,2024,January,Tomatoes,North West,Urban,3033.95,basket,NGN
3,2024-01-01,2024,January,Maize,South West,Rural,340.67,kg,NGN
4,2024-01-01,2024,January,Rice (Local),North West,Rural,475.65,kg,NGN
5,2024-01-01,2024,January,Yam,North Central,Urban,1150.72,tuber,NGN
6,2024-01-01,2024,January,Rice (Local),South East,Urban,562.41,kg,NGN
7,2024-01-01,2024,January,Maize,North Central,Rural,NaN,kg,NGN
8,2024-01-01,2024,January,Yam,North West,Urban,1184.88,tuber,NGN
9,2024-01-01,2024,January,Palm Oil,South East,Urban,869.58,litre,NGN

In [9]:
# Standardizing the Price column

In [16]:
df['Price'] = (df['Price']
    .astype(str)
    .str.replace('₦', '', regex=False)
    .str.replace(',', '', regex=False)
    .str.replace(r'\.\d+', '', regex=True)
    .str.strip())
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Price']=df['Price'].fillna(0)

In [17]:
df['Price']

0       202.0
1       219.0
2      3033.0
3       340.0
4       475.0
        ...
195     360.0
196       0.0
197     423.0
198     984.0
199     534.0
Name: Price, Length: 200, dtype: float64

In [18]:
df.to_excel('Nigeria_Agricultural_Price_Data_Mini_cleaned.xlsx',index=False)